.wrap {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  width: 320px;
}

.group {
  max-height: 320px;
  border-radius: 12px;
  height: 48px;
  overflow: hidden;
}

.input {
  background: rgb(48, 43, 43);
  width: 100%;
  height: 100%;
  color: white;
  text-indent: 20px;
  font-size: 16px;
}

.input-error {
  border-bottom: 2px solid red;
}

.link {
  margin-top: 5px;
  text-align: end;
}

.button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 5px 0;
  background: none;
  border: 2px solid rgb(48, 43, 43);
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.button:active {
  transform: scale(0.99);
}
